*,
html {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

html,
body {
  overflow-x: hidden;
}

*,
html,
head,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fff5ea;
  color: #212427;
}

.first-page {
  background-image: url(./assets/Hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.second-page {
  background-image: url(./assets/About\ Us.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.third-page {
  background-image: url(./assets/Product.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.fourth-page {
  background-image: url(./assets/Contact\ Us.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.footer {
  background-image: url(./assets/Footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fade {
  animation: fade ease-in-out both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}

.fade-right {
  animation: fadeRight ease-out both;
  animation-timeline: view();
  animation-range: cover 0% cover 100%;
}

.fade-bottom {
  animation: fadeRight both;
  animation-timeline: view();
  animation-range: cover 0% cover 100%;
}

.fade-left {
  animation: fadeLeft both;
  animation-timeline: view();
  animation-range: cover 0% cover 100%;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeRight {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeBottom {
  from {
    transform: translateY(15px);
  }
  to {
    transform: translateY(0px);
  }
}
